<tr>
  <td class="text-center">
    <%= check_box_tag "task_ids[]", task.id, false, class: "form-check-input" %>
  </td>
  <td class="text-center">
    <%= check_box_tag "is_published","1", false, id: "my-checkbox" %>
  </td>
  <th scope="row"><%= task_counter + 1 %></th>
  <td style="width: 200px; word-break: break-all; white-space: normal;">
    <% if task.color=="blue" %>
      <span class="<%= 'text-decoration-line-through text-muted' if task.completed? %>" id="color" style="color: blue;">
        <%= task.title %>
      </span>
      <% elsif task.color=="red" %>
      <span class="<%= 'text-decoration-line-through text-muted' if task.completed? %>" id="color" style="color: red;">
        <%= task.title %>
      </span>
      <% elsif task.color=="green" %>
      <span class="<%= 'text-decoration-line-through text-muted' if task.completed? %>" id="color" style="color: green;">
        <%= task.title %>
      </span>
      <% else %>
      <span class="<%= 'text-decoration-line-through text-muted' if task.completed? %>">
        <%= task.title %>
      </span>
    <% end %>
  </td>
  <% if task.start_day.nil? %>
  <td></td>
  <% else %>
  <td><%= l task.start_day,format: "%Y/%m/%d" %></td>
  <% end %>
  <% if task.end_day.nil? %>
  <td></td>
  <% else %>
  <td><%= l task.end_day,format: "%Y/%m/%d" %></td>
  <% end %>
  <td><%= l task.created_at, format: :short %></td>
  <td>
    <div class="btn-group" role="group">
      <%= link_to t('tasks.edit.title'), edit_task_path(task), class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </td>
</tr>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const checkbox = document.getElementById('my-checkbox');


    // チェックボックスが存在するか確認
    if (checkbox) {
      // ページ読み込み時にlocalStorageから状態を復元
      const savedState = localStorage.getItem('myCheckboxState');
      if (savedState === 'checked') {
  
        checkbox.checked = true;
      }

      // チェックボックスの状態が変更されたらlocalStorageに保存
      checkbox.addEventListener('change', (e) => {
        if (e.target.checked) {
          // チェックが入ったら、"checked"という文字列を保存
          localStorage.setItem('myCheckboxState', 'checked');
        } else {
          // チェックが外れたら、localStorageからキーを削除
          localStorage.removeItem('myCheckboxState');
        }
      });
    }
  });
</script>