<tr>
  <td class="text-center">
    <%= check_box_tag "task_ids[]", task.id, false, class: "form-check-input" %>
  </td>
  <th scope="row"><%= task_counter + 1 %></th>
  <td style="width: 200px; word-break: break-all; white-space: normal;">
    <% if task.color=="blue" %>
      <span class="<%= 'text-decoration-line-through text-muted' if task.completed? %>" id="color" style="color: blue;">
        <%= task.title %>
      </span>
      <% elsif task.color=="red" %>
      <span class="<%= 'text-decoration-line-through text-muted' if task.completed? %>" id="color" style="color: red;">
        <%= task.title %>
      </span>
      <% elsif task.color=="green" %>
      <span class="<%= 'text-decoration-line-through text-muted' if task.completed? %>" id="color" style="color: green;">
        <%= task.title %>
      </span>
      <% else %>
      <span class="<%= 'text-decoration-line-through text-muted' if task.completed? %>">
        <%= task.title %>
      </span>
    <% end %>
  </td>
  <td><%= l task.created_at, format: :short %></td>
  <td>
    <div class="btn-group" role="group">
      <%= link_to t('tasks.edit.title'), edit_task_path(task), class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </td>
</tr>
